$color-primary: #0c56d0;
$color-surface: #f7f9fb;
$color-on-surface: #2a3439;
$color-surface-container: #e8eff3;
$color-surface-low: #f0f4f7;
$color-outline: #a9b4b9;

$header-background-color: #eaeae9;
$header-link-color: #566166;

$color-white: #ffffff;
$color-black: #0b0f10;

$color-whatsapp: #25d366;

// Typography
$font-headline: var(--font-headline);
$font-body: var(--font-body);

// // Spacing
// $space-sm: 8px;
// $space-md: 16px;
// $space-lg: 32px;
// $space-xl: 64px;

// // Radius
// $radius-md: 8px;
// $radius-lg: 16px;
// $radius-xl: 24px;
