// Typography

$font-headline: var(--font-headline);
$font-body: var(--font-body);

// Colors

$color-accent-1: #0c56d0;
$color-background-1: #f0f4f7;
$color-background-2: #f7f9fb; // header background

$color-text-title: #2a3439; // footer background
$color-text-paragraph: #566166;

$color-white: #fff;
$color-whatsapp: #25d366;
