@use "../styles/main";
@use "../styles/variables" as *;
@use "../styles/mixins" as *;

header svg {
    width: 24px;
    height: 24px;
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-body;
    color: $color-text-paragraph;
}

h1,
h2,
h3,
h4 {
    font-family: $font-headline;
    color: $color-text-title;
}

section {
    scroll-margin-top: 80px;
}
