@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

/* ============================================
   HEADER BASE
   ============================================ */

.header {
    position: sticky;
    top: 0;
    z-index: 50;

    background: rgba(247, 249, 251, 0.9);
    // -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);

    width: 100%;
    font-family: $font-headline;
    transition: all 0.3s ease;
}

/* ============================================
   CONTAINER
   ============================================ */

.container {
    @include container-flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    height: 80px;
}

/* ============================================
   BRAND / LOGO
   ============================================ */

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.05em;
    color: $color-accent-1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.8;
}

.logoIcon {
    font-size: 1.9rem !important;
    color: $color-accent-1;
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    transition: transform 0.3s ease;
}

.logoText {
    display: flex;
    flex-direction: column;
    line-height: 1;

    .logoTitle {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: -0.05em;
        color: $color-accent-1;
    }

    .logoSubTitle {
        font-size: 0.65rem;
        font-weight: 600;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: rgba($color-accent-1, 0.7);
        margin-top: 0.1rem;
    }
}

@media (max-width: 768px) {
    .logo:hover {
        opacity: 1;
    }
}

/* ============================================
   NAV DESKTOP
   ============================================ */

.navDesktop {
    display: none;
}

@media (min-width: 768px) {
    .navDesktop {
        display: flex;
    }
}

.navDesktopUl {
    display: flex;
    gap: 1.3rem;
}

@media (min-width: 900px) {
    .navDesktopUl {
        gap: 2rem;
    }
}

.navLink {
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:hover {
        color: $color-accent-1;
    }

    @media (min-width: 768px) {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background: $color-accent-1;
            transition: width 0.25s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}
@media (max-width: 900px) {
    .navLink {
        font-size: 0.9rem;
    }
}
/* ============================================
   HEADER BUTTONS
   ============================================ */

.headerBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
/* ===============
   WHATSAPP BUTTON
   =============== */

.whatsappBtn {
    @include flex-center;
    gap: 0.5rem;
    padding: 10px 14px;
    background-color: $color-whatsapp;
    border-radius: 0.75rem;
    transition: all 0.3s ease;
    color: white;
    box-shadow: 0 4px 14px 0 rgba(37, 211, 102, 0.39);

    & .text {
        font-weight: 600;
    }
}

.whatsappBtn:hover {
    filter: brightness(1.1);
}

.whatsappBtn svg {
    width: 1.5rem; /* w-6 = 24px */
    height: 1.5rem; /* h-6 = 24px */
    fill: currentColor; /* fill-current */
    display: block;
}

@media (max-width: 768px) {
    .whatsappBtn {
        padding: 8px;

        .text {
            display: none;
        }
    }
}

/* ================
   HAMBURGER BUTTON
   ================ */

.burgerBtn {
    @include flex-center;
    cursor: pointer;
    padding: 8px;
    border: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
    .burgerBtn {
        display: none;
    }
}

.burgerBtnIcon {
    background-color: $color-text-title;
    height: 2px;
    width: 22px;
    display: block;
    position: relative;
    transition: background-color 0.03s ease-out;
}

.burgerBtnIcon::before,
.burgerBtnIcon::after {
    content: "";
    background-color: $color-text-title;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.1s ease-out;
}

.burgerBtnIcon::before {
    top: 7px;
}
.burgerBtnIcon::after {
    top: -7px;
}

.open .burgerBtnIcon {
    background-color: transparent;
}

.open .burgerBtnIcon::before {
    top: 0;
    transform: rotate(-45deg);
}

.open .burgerBtnIcon::after {
    top: 0;
    transform: rotate(45deg);
}

/* ============================================
   NAV MOBILE
   ============================================ */

.navMobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 50;

    background: rgba(247, 249, 251);

    transition: all 0.25s ease;

    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;

    &.open {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }

    @media (min-width: 768px) {
        display: none !important;
    }
}

.navMobile .navLink {
    display: block;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    transition: all 0.2s ease;

    &:hover {
        color: $color-accent-1;
    }
}
